USE [master]
GO
/****** Object:  Database [TravelAwayDB]    Script Date: 06-02-2026 11:31:24 PM ******/
CREATE DATABASE [TravelAwayDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelAwayDB', FILENAME = N'C:\DB Backup\DATA\TravelAwayDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelAwayDB_log', FILENAME = N'C:\DB Backup\DATA\TravelAwayDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelAwayDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelAwayDB]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[PackageId] [int] IDENTITY(2000,1) NOT NULL,
	[PackageName] [varchar](30) NOT NULL,
	[PackageCategoryId] [int] NULL,
	[TypeOfPackage] [varchar](15) NULL,
	[ImagePath] [varchar](255) NULL,
	[Description] [text] NULL,
 CONSTRAINT [pk_PackageId] PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageDetails]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageDetails](
	[PackageDetailsId] [int] IDENTITY(900,1) NOT NULL,
	[PackageId] [int] NULL,
	[PlacesToVisit] [varchar](500) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[NoOfDays] [int] NOT NULL,
	[NoOfNights] [int] NOT NULL,
	[Accomodation] [varchar](10) NULL,
	[PricePerAdult] [decimal](18, 0) NULL,
	[ImagePath] [varchar](255) NULL,
 CONSTRAINT [pk_PaclageDetailsId] PRIMARY KEY CLUSTERED 
(
	[PackageDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_ViewPackageDetail]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------View Packages' Details---------------

Create FUNCTION [dbo].[ufn_ViewPackageDetail](@PackageId INT)
RETURNS TABLE
AS 
RETURN(
	SELECT P.PackageName,PD.PlacesToVisit,PD.[Description],PD.NoOfDays,PD.NoOfNights,PD.Accomodation, PD.PricePerAdult ,PD.ImagePath
	FROM Package P INNER JOIN PackageDetails PD ON  P.PackageId=@PackageId
	);
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_ViewAllPackages]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------View All Packages'---------------
CREATE FUNCTION [dbo].[ufn_ViewAllPackages]()
RETURNS TABLE
AS
	RETURN ( 
	--SELECT P.PackageId,P.PackageCategoryId,P.PackageName,P.TypeOfPackage,PD.[Description] 
	--FROM Package P INNER JOIN PackageDetails PD on P.PackageId=PD.PackageId
	SELECT * FROM Package
	);
GO
/****** Object:  Table [dbo].[PackageCategory]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageCategory](
	[PackageCategoryId] [int] IDENTITY(100,1) NOT NULL,
	[PackageCategoryName] [varchar](20) NOT NULL,
 CONSTRAINT [pk_PackageCategoryId] PRIMARY KEY CLUSTERED 
(
	[PackageCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_ViewPackageCategory]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------View Packages' Category---------------

CREATE FUNCTION [dbo].[ufn_ViewPackageCategory]()
RETURNS TABLE
AS 
RETURN
	(SELECT PackageCategoryId,PackageCategoryName FROM PackageCategory);

GO
/****** Object:  UserDefinedFunction [dbo].[ufn_ViewPackagesByCategory]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------View Packages by Category---------------
CREATE FUNCTION [dbo].[ufn_ViewPackagesByCategory](@PackageCategoryId INT)
RETURNS TABLE
AS
	RETURN ( 
	--SELECT P.PackageId,P.PackageCategoryId,P.PackageName,P.TypeOfPackage,PD.[Description] 
	--FROM Package P INNER JOIN PackageDetails PD on P.PackageId=PD.PackageId
	--WHERE PackageCategoryId= @PackageCategoryId
	SELECT * FROM Package WHERE PackageCategoryId=@PackageCategoryId
	);

GO
/****** Object:  Table [dbo].[Accomodation]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accomodation](
	[AccomodationId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NULL,
	[HotelName] [varchar](20) NULL,
	[City] [varchar](30) NULL,
	[NoOfRooms] [int] NOT NULL,
	[HotelRating] [int] NULL,
	[Price] [money] NULL,
	[RoomType] [varchar](20) NOT NULL,
 CONSTRAINT [pk_AccomodationId] PRIMARY KEY CLUSTERED 
(
	[AccomodationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_GetAccommodationByBookingId]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DECLARE @ReturnVal INT
--EXEC @ReturnVal = usp_AddAccommodation 4000,'Pune',3,'Ashok','Single',1,1000
--SELECT @ReturnVal AS ReturnVal
--GO


CREATE FUNCTION [dbo].[ufn_GetAccommodationByBookingId](@BookingId INT)
RETURNS TABLE
AS
	RETURN (SELECT * FROM Accomodation WHERE BookingId=@BookingId);

GO
/****** Object:  Table [dbo].[BookPackage]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookPackage](
	[EmailId] [varchar](50) NULL,
	[BookingId] [int] IDENTITY(4000,1) NOT NULL,
	[ContactNumber] [numeric](10, 0) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[DateOfTravel] [date] NOT NULL,
	[NumberOfAdults] [int] NOT NULL,
	[NumberOfChildren] [int] NULL,
	[Status] [varchar](10) NOT NULL,
	[PackageId] [int] NULL,
 CONSTRAINT [pk_BookingId] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NULL,
	[TotalAmount] [money] NULL,
	[PaymentStatus] [varchar](20) NULL,
 CONSTRAINT [pk_PaymentId] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_ViewBookedPackages]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------View Booked Pakages---------------

CREATE FUNCTION [dbo].[ufn_ViewBookedPackages](@EmailId VARCHAR(50))
RETURNS TABLE
AS
	RETURN (SELECT
	BP.BookingId, BP.NumberOfAdults, BP.NumberOfChildren,BP.DateOfTravel,
	ISNULL(P.TotalAmount,-97) AS TotalAmount,
	ISNULL(A.HotelName,'N/A') AS HotelName, ISNULL(A.NoOfRooms,-97) AS NoOfRooms,
	PD.PlacesToVisit,PD.NoOfDays,PD.NoOfNights,
	Pc.PackageName
	FROM BookPackage BP
	LEFT JOIN Payment P
	ON BP.BookingId=P.BookingId
	LEFT JOIN Accomodation A
	ON BP.BookingId=A.BookingId
	LEFT JOIN PackageDetails PD
	ON BP.PackageId=PD.PackageDetailsId
	LEFT JOIN Package Pc
	ON PD.PackageId=Pc.PackageId
	WHERE BP.EmailId=@EmailId
	);

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[EmailId] [varchar](50) NOT NULL,
	[RoleId] [tinyint] NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[UserPassword] [varchar](15) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[ContactNumber] [numeric](10, 0) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Address] [varchar](250) NOT NULL,
 CONSTRAINT [pk_EmailId] PRIMARY KEY CLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerCare]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerCare](
	[QueryId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NULL,
	[Query] [varchar](100) NULL,
	[QueryStatus] [varchar](30) NULL,
	[Assignee] [int] NULL,
	[QueryAnswer] [varchar](200) NULL,
 CONSTRAINT [pk_QueryId] PRIMARY KEY CLUSTERED 
(
	[QueryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Password] [varchar](15) NOT NULL,
	[RoleId] [tinyint] NULL,
	[EmailId] [varchar](50) NULL,
 CONSTRAINT [pk_EMPID] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[HotelId] [int] IDENTITY(1000,1) NOT NULL,
	[HotelName] [varchar](20) NULL,
	[HotelRating] [int] NOT NULL,
	[SingleRoomPrice] [money] NULL,
	[DoubleRoomPrice] [money] NULL,
	[DeluxeeRoomPrice] [money] NULL,
	[SuiteRoomPrice] [money] NULL,
	[City] [varchar](20) NULL,
	[PackageId] [int] NULL,
 CONSTRAINT [pk_HotelId] PRIMARY KEY CLUSTERED 
(
	[HotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[Comments] [varchar](200) NULL,
	[Rating] [int] NULL,
	[BookingId] [int] NULL,
 CONSTRAINT [pk_RatingId] PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [tinyint] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](20) NULL,
 CONSTRAINT [pk_RoleId] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleId] [int] IDENTITY(5000,1) NOT NULL,
	[VehicleName] [varchar](20) NOT NULL,
	[VehicleType] [varchar](20) NULL,
	[RatePerHour] [decimal](20, 2) NOT NULL,
	[RatePerKm] [decimal](20, 2) NOT NULL,
	[BasePrice] [decimal](20, 2) NOT NULL,
 CONSTRAINT [pk_VehicleId] PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleBooked]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleBooked](
	[VehicleBookingId] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [int] NULL,
	[VehicleName] [varchar](20) NOT NULL,
	[BookingDate] [date] NOT NULL,
	[PickupTime] [varchar](20) NOT NULL,
	[NoOfHours] [int] NOT NULL,
	[NoOfKms] [int] NOT NULL,
	[TotalCost] [decimal](20, 2) NOT NULL,
	[VehicleStatus] [varchar](30) NULL,
 CONSTRAINT [pk_VehicleBookingId] PRIMARY KEY CLUSTERED 
(
	[VehicleBookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accomodation] ON 

INSERT [dbo].[Accomodation] ([AccomodationId], [BookingId], [HotelName], [City], [NoOfRooms], [HotelRating], [Price], [RoomType]) VALUES (1, 4000, N'Ashok', N'Pune', 2, 4, 10000.0000, N'Deluxe')
INSERT [dbo].[Accomodation] ([AccomodationId], [BookingId], [HotelName], [City], [NoOfRooms], [HotelRating], [Price], [RoomType]) VALUES (2, 4001, N'Taj', N'Pune', 1, 5, 15000.0000, N'Suite')
INSERT [dbo].[Accomodation] ([AccomodationId], [BookingId], [HotelName], [City], [NoOfRooms], [HotelRating], [Price], [RoomType]) VALUES (3, 4004, N'Grand Hayat', N'Jaipur', 1, 3, 1400.0000, N'Single')
SET IDENTITY_INSERT [dbo].[Accomodation] OFF
GO
SET IDENTITY_INSERT [dbo].[BookPackage] ON 

INSERT [dbo].[BookPackage] ([EmailId], [BookingId], [ContactNumber], [Address], [DateOfTravel], [NumberOfAdults], [NumberOfChildren], [Status], [PackageId]) VALUES (N'Mayank@gmail.com', 4000, CAST(2457984315 AS Numeric(10, 0)), N'310-Lucknow', CAST(N'2025-12-20' AS Date), 2, 0, N'Booked', 900)
INSERT [dbo].[BookPackage] ([EmailId], [BookingId], [ContactNumber], [Address], [DateOfTravel], [NumberOfAdults], [NumberOfChildren], [Status], [PackageId]) VALUES (N'poorvi@gmail.com', 4001, CAST(8465713549 AS Numeric(10, 0)), N'253-Delhi', CAST(N'2025-04-12' AS Date), 3, 0, N'Booked', 909)
INSERT [dbo].[BookPackage] ([EmailId], [BookingId], [ContactNumber], [Address], [DateOfTravel], [NumberOfAdults], [NumberOfChildren], [Status], [PackageId]) VALUES (N'Prabhjeet@gmail.com', 4002, CAST(4587921568 AS Numeric(10, 0)), N'310-Agra', CAST(N'2025-05-09' AS Date), 2, 1, N'Booked', 901)
SET IDENTITY_INSERT [dbo].[BookPackage] OFF
GO
INSERT [dbo].[Customer] ([EmailId], [RoleId], [FirstName], [LastName], [UserPassword], [Gender], [ContactNumber], [DateOfBirth], [Address]) VALUES (N'Mayank@gmail.com', 1, N'Mayank', N'Sharma', N'efgh@1234', N'M', CAST(2457984315 AS Numeric(10, 0)), CAST(N'1999-05-22' AS Date), N'Delhi')
INSERT [dbo].[Customer] ([EmailId], [RoleId], [FirstName], [LastName], [UserPassword], [Gender], [ContactNumber], [DateOfBirth], [Address]) VALUES (N'poorvi@gmail.com', 1, N'Poorvi', N'Jain', N'abcd@1234', N'M', CAST(8465713549 AS Numeric(10, 0)), CAST(N'1998-12-04' AS Date), N'Lucknow')
INSERT [dbo].[Customer] ([EmailId], [RoleId], [FirstName], [LastName], [UserPassword], [Gender], [ContactNumber], [DateOfBirth], [Address]) VALUES (N'Prabhjeet@gmail.com', 1, N'Prabhjeet', N'Bhabar', N'hijk@1234', N'F', CAST(4587921568 AS Numeric(10, 0)), CAST(N'1997-10-26' AS Date), N'Mumbai')
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmpId], [FirstName], [LastName], [Password], [RoleId], [EmailId]) VALUES (1, N'Steve', N'Rogers', N'qwertyuiop', 2, N'steve@gmail.com')
INSERT [dbo].[Employee] ([EmpId], [FirstName], [LastName], [Password], [RoleId], [EmailId]) VALUES (2, N'Peter', N'Parker', N'asdfghjkl', 2, N'peter@gmail.com')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotel] ON 

INSERT [dbo].[Hotel] ([HotelId], [HotelName], [HotelRating], [SingleRoomPrice], [DoubleRoomPrice], [DeluxeeRoomPrice], [SuiteRoomPrice], [City], [PackageId]) VALUES (1002, N'Swosti Grand', 4, 700.0000, 1400.0000, 2100.0000, 4000.0000, N'Ooty', NULL)
INSERT [dbo].[Hotel] ([HotelId], [HotelName], [HotelRating], [SingleRoomPrice], [DoubleRoomPrice], [DeluxeeRoomPrice], [SuiteRoomPrice], [City], [PackageId]) VALUES (1003, N'Grand Hayat', 3, 1400.0000, 2900.0000, 4800.0000, 2500.0000, N'Jaipur', NULL)
INSERT [dbo].[Hotel] ([HotelId], [HotelName], [HotelRating], [SingleRoomPrice], [DoubleRoomPrice], [DeluxeeRoomPrice], [SuiteRoomPrice], [City], [PackageId]) VALUES (1004, N'Waterfront', 3, 2800.0000, 4000.0000, 8800.0000, 5500.0000, N'America', NULL)
SET IDENTITY_INSERT [dbo].[Hotel] OFF
GO
SET IDENTITY_INSERT [dbo].[Package] ON 

INSERT [dbo].[Package] ([PackageId], [PackageName], [PackageCategoryId], [TypeOfPackage], [ImagePath], [Description]) VALUES (2000, N'North India', 100, N'Domestic', N'assets/package-images/image1.jpg', N'Explore a rich tapestry of cultures, religions, and historical sites, including iconic landmarks like the Taj Mahal, ancient temples, and grand forts. Experience bustling cities, spiritual centers, and opportunities for adventure, creating a truly unforgettable travel experience.')
INSERT [dbo].[Package] ([PackageId], [PackageName], [PackageCategoryId], [TypeOfPackage], [ImagePath], [Description]) VALUES (2001, N'Malibu Islands', 101, N'International', N'assets/package-images/image2.jpg', N'Maldives! Malibu is a city in California, USA. The Maldives is an island nation known for its stunning turquoise waters, luxurious resorts, and incredible diving and snorkeling. It''s a tropical paradise perfect for relaxation and enjoying the beauty of the Indian Ocean.')
INSERT [dbo].[Package] ([PackageId], [PackageName], [PackageCategoryId], [TypeOfPackage], [ImagePath], [Description]) VALUES (2002, N'America', 102, N'International', N'assets/package-images/image3.jpg', N'A land of diverse experiences. Explore bustling cities, iconic landmarks, and breathtaking natural wonders across its 50 states. Discover a melting pot of cultures and varied landscapes.')
SET IDENTITY_INSERT [dbo].[Package] OFF
GO
SET IDENTITY_INSERT [dbo].[PackageCategory] ON 

INSERT [dbo].[PackageCategory] ([PackageCategoryId], [PackageCategoryName]) VALUES (100, N'Adventure')
INSERT [dbo].[PackageCategory] ([PackageCategoryId], [PackageCategoryName]) VALUES (101, N'Nature')
INSERT [dbo].[PackageCategory] ([PackageCategoryId], [PackageCategoryName]) VALUES (102, N'Relegious')
SET IDENTITY_INSERT [dbo].[PackageCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[PackageDetails] ON 

INSERT [dbo].[PackageDetails] ([PackageDetailsId], [PackageId], [PlacesToVisit], [Description], [NoOfDays], [NoOfNights], [Accomodation], [PricePerAdult], [ImagePath]) VALUES (900, 2000, N'Ooty', N'A charming hill station nestled in the Nilgiri Hills, known for its scenic tea gardens, pleasant climate, and beautiful lakes like Ooty Lake and Emerald Lake. A popular retreat for nature lovers.', 2, 2, N'Available', CAST(1000 AS Decimal(18, 0)), N'assets/package-images/image00.jpg')
INSERT [dbo].[PackageDetails] ([PackageDetailsId], [PackageId], [PlacesToVisit], [Description], [NoOfDays], [NoOfNights], [Accomodation], [PricePerAdult], [ImagePath]) VALUES (901, 2001, N'Jaipur', N'the "Pink City," is a vibrant capital of Rajasthan, famous for its stunning pink-hued architecture, majestic forts and palaces (like Hawa Mahal and Amber Fort), and bustling bazaars brimming with colorful handicrafts. A captivating blend of history and culture.', 3, 2, N'Available', CAST(1200 AS Decimal(18, 0)), N'assets/package-images/image01.jpg')
INSERT [dbo].[PackageDetails] ([PackageDetailsId], [PackageId], [PlacesToVisit], [Description], [NoOfDays], [NoOfNights], [Accomodation], [PricePerAdult], [ImagePath]) VALUES (902, 2002, N'America', N'A vast and diverse nation offering iconic cities, breathtaking natural wonders from coast to coast, and a melting pot of cultures and experiences.', 5, 4, N'Available', CAST(9500 AS Decimal(18, 0)), N'assets/package-images/image02.jpg')
SET IDENTITY_INSERT [dbo].[PackageDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [BookingId], [TotalAmount], [PaymentStatus]) VALUES (1, 4002, 2000000.0000, N'Confirmed')
INSERT [dbo].[Payment] ([PaymentId], [BookingId], [TotalAmount], [PaymentStatus]) VALUES (2, 4001, 18000.0000, N'Confirmed')
INSERT [dbo].[Payment] ([PaymentId], [BookingId], [TotalAmount], [PaymentStatus]) VALUES (3, 4000, 12000.0000, N'Confirmed')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Customer')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Employee')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([VehicleId], [VehicleName], [VehicleType], [RatePerHour], [RatePerKm], [BasePrice]) VALUES (5000, N'City', N'Four-Wheeler', CAST(7.00 AS Decimal(20, 2)), CAST(9.00 AS Decimal(20, 2)), CAST(200.00 AS Decimal(20, 2)))
INSERT [dbo].[Vehicle] ([VehicleId], [VehicleName], [VehicleType], [RatePerHour], [RatePerKm], [BasePrice]) VALUES (5001, N'Honda-City', N'Four-Wheeler', CAST(15.00 AS Decimal(20, 2)), CAST(20.00 AS Decimal(20, 2)), CAST(1000.00 AS Decimal(20, 2)))
INSERT [dbo].[Vehicle] ([VehicleId], [VehicleName], [VehicleType], [RatePerHour], [RatePerKm], [BasePrice]) VALUES (5002, N'Shine', N'Two-Wheeler', CAST(7.00 AS Decimal(20, 2)), CAST(9.00 AS Decimal(20, 2)), CAST(350.00 AS Decimal(20, 2)))
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Package__73856F7AF8CC3714]    Script Date: 06-02-2026 11:31:24 PM ******/
ALTER TABLE [dbo].[Package] ADD UNIQUE NONCLUSTERED 
(
	[PackageName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PackageC__DD8EB4743AF6FAE8]    Script Date: 06-02-2026 11:31:24 PM ******/
ALTER TABLE [dbo].[PackageCategory] ADD UNIQUE NONCLUSTERED 
(
	[PackageCategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_RoleName]    Script Date: 06-02-2026 11:31:24 PM ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [uq_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accomodation]  WITH CHECK ADD  CONSTRAINT [fk_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[BookPackage] ([BookingId])
GO
ALTER TABLE [dbo].[Accomodation] CHECK CONSTRAINT [fk_BookingId]
GO
ALTER TABLE [dbo].[BookPackage]  WITH CHECK ADD  CONSTRAINT [fk_EmailId] FOREIGN KEY([EmailId])
REFERENCES [dbo].[Customer] ([EmailId])
GO
ALTER TABLE [dbo].[BookPackage] CHECK CONSTRAINT [fk_EmailId]
GO
ALTER TABLE [dbo].[BookPackage]  WITH CHECK ADD  CONSTRAINT [fk_packId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[PackageDetails] ([PackageDetailsId])
GO
ALTER TABLE [dbo].[BookPackage] CHECK CONSTRAINT [fk_packId]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [fk_RoleId]
GO
ALTER TABLE [dbo].[CustomerCare]  WITH CHECK ADD  CONSTRAINT [fk_Assignee] FOREIGN KEY([Assignee])
REFERENCES [dbo].[Employee] ([EmpId])
GO
ALTER TABLE [dbo].[CustomerCare] CHECK CONSTRAINT [fk_Assignee]
GO
ALTER TABLE [dbo].[CustomerCare]  WITH CHECK ADD  CONSTRAINT [fk_BId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[BookPackage] ([BookingId])
GO
ALTER TABLE [dbo].[CustomerCare] CHECK CONSTRAINT [fk_BId]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [fk_RId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [fk_RId]
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [fk_packId_hotels] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([PackageId])
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [fk_packId_hotels]
GO
ALTER TABLE [dbo].[Package]  WITH CHECK ADD  CONSTRAINT [fk_PackageCategoryId] FOREIGN KEY([PackageCategoryId])
REFERENCES [dbo].[PackageCategory] ([PackageCategoryId])
GO
ALTER TABLE [dbo].[Package] CHECK CONSTRAINT [fk_PackageCategoryId]
GO
ALTER TABLE [dbo].[PackageDetails]  WITH CHECK ADD  CONSTRAINT [fk_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([PackageId])
GO
ALTER TABLE [dbo].[PackageDetails] CHECK CONSTRAINT [fk_PackageId]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [fk_PaymentBookId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[BookPackage] ([BookingId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [fk_PaymentBookId]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [fk_BookId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[BookPackage] ([BookingId])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [fk_BookId]
GO
ALTER TABLE [dbo].[VehicleBooked]  WITH CHECK ADD  CONSTRAINT [fk_VehicleId] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([VehicleId])
GO
ALTER TABLE [dbo].[VehicleBooked] CHECK CONSTRAINT [fk_VehicleId]
GO
ALTER TABLE [dbo].[Accomodation]  WITH CHECK ADD  CONSTRAINT [chk_HotelR] CHECK  (([HotelRating]>=(1) AND [HotelRating]<=(5)))
GO
ALTER TABLE [dbo].[Accomodation] CHECK CONSTRAINT [chk_HotelR]
GO
ALTER TABLE [dbo].[Accomodation]  WITH CHECK ADD  CONSTRAINT [chk_RoomType] CHECK  (([RoomType]='Single' OR [RoomType]='Double' OR [RoomType]='Deluxe' OR [RoomType]='Suite'))
GO
ALTER TABLE [dbo].[Accomodation] CHECK CONSTRAINT [chk_RoomType]
GO
ALTER TABLE [dbo].[BookPackage]  WITH CHECK ADD  CONSTRAINT [chk_DateOfTravel] CHECK  (([DateOfTravel]>=getdate()))
GO
ALTER TABLE [dbo].[BookPackage] CHECK CONSTRAINT [chk_DateOfTravel]
GO
ALTER TABLE [dbo].[BookPackage]  WITH CHECK ADD  CONSTRAINT [chk_Status] CHECK  (([Status]='Confirmed' OR [Status]='Booked'))
GO
ALTER TABLE [dbo].[BookPackage] CHECK CONSTRAINT [chk_Status]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_ContactNumber] CHECK  ((NOT [ContactNumber] like '0%' AND len([ContactNumber])=(10)))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_ContactNumber]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_DateOfBirth] CHECK  (([DateOfBirth]<getdate()))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_DateOfBirth]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_FirstName] CHECK  ((NOT [FirstName] like '% %'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_FirstName]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_Gender] CHECK  (([Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_Gender]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_LastName] CHECK  ((NOT [LastName] like '% %'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_LastName]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [chk_UserPassword] CHECK  ((len([UserPassword])>=(8) AND len([UserPassword])<=(16)))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [chk_UserPassword]
GO
ALTER TABLE [dbo].[CustomerCare]  WITH CHECK ADD  CONSTRAINT [chk_QueryStatus] CHECK  (([QueryStatus]='Assigned' OR [QueryStatus]='In Progress' OR [QueryStatus]='Closed'))
GO
ALTER TABLE [dbo].[CustomerCare] CHECK CONSTRAINT [chk_QueryStatus]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [chk_FName] CHECK  ((NOT [FirstName] like '% %'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [chk_FName]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [chk_LName] CHECK  ((NOT [LastName] like '% %'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [chk_LName]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [chk_Password] CHECK  ((len([Password])>=(8) AND len([Password])<=(16)))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [chk_Password]
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD  CONSTRAINT [chk_HotelRating] CHECK  (([HotelRating]>=(2) AND [HotelRating]<=(5)))
GO
ALTER TABLE [dbo].[Hotel] CHECK CONSTRAINT [chk_HotelRating]
GO
ALTER TABLE [dbo].[Package]  WITH CHECK ADD  CONSTRAINT [chk_TypeOfPackage] CHECK  (([TypeOfPackage]='Domestic' OR [TypeOfPackage]='International'))
GO
ALTER TABLE [dbo].[Package] CHECK CONSTRAINT [chk_TypeOfPackage]
GO
ALTER TABLE [dbo].[PackageDetails]  WITH CHECK ADD  CONSTRAINT [chk_Accomodation] CHECK  (([Accomodation]='Unavailable' OR [Accomodation]='Available'))
GO
ALTER TABLE [dbo].[PackageDetails] CHECK CONSTRAINT [chk_Accomodation]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [chk_PaymentStatus] CHECK  (([PaymentStatus]='Confirmed' OR [PaymentStatus]='Not Confirmed'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [chk_PaymentStatus]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [chk_Rating] CHECK  (([Rating]>(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [chk_Rating]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [chk_Vehicle] CHECK  (([VehicleType]='Two-Wheeler' OR [VehicleType]='Four-Wheeler' OR [VehicleType]='Mini-Bus'))
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [chk_Vehicle]
GO
ALTER TABLE [dbo].[VehicleBooked]  WITH CHECK ADD  CONSTRAINT [chk_BookingDate] CHECK  (([BookingDate]>=getdate()))
GO
ALTER TABLE [dbo].[VehicleBooked] CHECK CONSTRAINT [chk_BookingDate]
GO
ALTER TABLE [dbo].[VehicleBooked]  WITH CHECK ADD  CONSTRAINT [chk_NoOfHours] CHECK  (([NoOfHours]>=(3)))
GO
ALTER TABLE [dbo].[VehicleBooked] CHECK CONSTRAINT [chk_NoOfHours]
GO
ALTER TABLE [dbo].[VehicleBooked]  WITH CHECK ADD  CONSTRAINT [chk_status1] CHECK  (([VehicleStatus]='Booked' OR [VehicleStatus]='Active' OR [VehicleStatus]='Closed'))
GO
ALTER TABLE [dbo].[VehicleBooked] CHECK CONSTRAINT [chk_status1]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddAccommodation]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DECLARE @retval INT, @BookingId BIGINT
--EXEC @retval = usp_BookPackage 'sagar@gmail.com','9844543210','Mumbai ckwbcecbeucbeucbsusavsvsv','2021-08-17',4,2,'Booked',900,@BookingId OUT
--SELECT @retval as RETURNVALUE, @BookingId as BOOKINGID
--GO

---------------Accomodation---------------

CREATE PROCEDURE [dbo].[usp_AddAccommodation]
(
@BookingId INT,
@City VARCHAR(20),
@HotelRating INT,
@Hotels VARCHAR(30),
@RoomType VARCHAR(20),
@NoOfRooms INT,
@EstimatedCost NUMERIC
)
AS
BEGIN
	BEGIN TRY
		IF NOT EXISTS (SELECT BookingId FROM BookPackage WHERE BookingId=@BookingId)
		BEGIN
			RETURN -1;
		END
		ELSE IF NOT EXISTS (SELECT HotelName FROM Hotel WHERE HotelName=@Hotels)
		BEGIN
			RETURN -2;
		END
		ELSE
		BEGIN
			INSERT INTO Accommodation(BookingId,City,HotelRating,HotelName,RoomType,NoOfRooms,Price)
			VALUES(@BookingId,@City,@HotelRating,@Hotels,@RoomType,@NoOfRooms,@EstimatedCost)
			RETURN 1;
		END
	END TRY

	BEGIN CATCH
		RETURN -99
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_BookPackage]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------Book Package---------------
CREATE PROCEDURE [dbo].[usp_BookPackage]
(
@EmailId VARCHAR(50),
@ContactNumber NUMERIC(10),
@Address VARCHAR(100),
@DateOfTravel DATE,
@NumberOfAdults INT ,
@NumberOfChildren INT,
@Status VARCHAR(10),
@PackageId INT,
@BookingId BIGINT OUT
)
AS
BEGIN
	BEGIN TRY
		IF NOT EXISTS (SELECT EmailId FROM Customer WHERE EmailId=@EmailId)
			RETURN -1;
		ELSE IF (@ContactNumber LIKE '%^[0-9]%' OR @ContactNumber IS NULL)
			RETURN -2;
		ELSE IF (@DateOfTravel<= CAST(GETDATE() AS DATE))
			RETURN -3;
		ELSE IF (@NumberOfAdults IS NULL AND @NumberOfChildren IS NULL)
			RETURN -4;
		ELSE IF (@PackageId IS NULL)
			RETURN -5;
		ELSE
		BEGIN
			INSERT INTO BookPackage(EmailId,ContactNumber,Address,DateOfTravel,NumberOfAdults,NumberOfChildren,Status,PackageId)
			VALUES(@EmailId,@ContactNumber,@Address,@DateOfTravel,@NumberOfAdults,@NumberOfChildren,@Status,@PackageId)
			SET @BookingId = IDENT_CURRENT('BookPackage')
			RETURN @BookingId;
		END
	END TRY
	BEGIN CATCH
		RETURN -99
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_EditProfile]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------Edit Profile---------------

CREATE PROCEDURE [dbo].[usp_EditProfile]
(
@EmailId VARCHAR(50),
@FirstName VARCHAR(30),
@LastName VARCHAR(30),
@Gender CHAR,
@ContactNumber NUMERIC(10),
@DateOfBirth DATE,
@Address VARCHAR(200)
)
AS
	BEGIN
		DECLARE @retval INT
		BEGIN TRY
			IF(@EmailId IS NULL)
				SET @retval=-1
			ELSE IF(@FirstName IS NULL)
				SET @retval=-2
			ELSE IF(@LastName IS NULL)
				SET @retval=-3
			ELSE IF(@Gender IS NULL)
				SET @retval=-4
			ELSE IF(@ContactNumber IS NULL)
				SET @retval=-5
			ELSE IF(@DateOfBirth IS NULL)
				SET @retval=-6
			ELSE IF(@Address IS NULL)
				SET @retval=-7
			ELSE IF NOT EXISTS(SELECT EmailId FROM Customer WHERE EmailId=@EmailId)
				SET @retval=-8
			ELSE IF(LEN(@EmailId)<5 OR LEN(@EmailId)>50)
				SET @retval=-9
			ELSE IF(@Gender<>'F' AND @Gender<>'M')
				SET @retval=-10
			ELSE IF(@DateOfBirth>= CAST(GETDATE() AS DATE))
				SET @retval=-11
			ELSE IF(@FirstName LIKE '%^[a-zA-Z]%')
				SET @retval=-12
			ELSE IF(@LastName LIKE '%^[a-zA-Z]%')
				SET @retval=-13
			ELSE IF(LEN(@ContactNumber)<>10)
				SET @retval=-14
			ELSE IF(@ContactNumber LIKE '%^[0-9]%')
				SET @retval=-15
			ELSE IF(@ContactNumber LIKE '^0%')
				SET @retval=-16
			ELSE
				BEGIN
					UPDATE Customer SET FirstName=@FirstName,Lastname=@LastName,Gender=@Gender, ContactNumber=@ContactNumber,
					DateOfBirth=@DateOfBirth,[Address]=@Address WHERE EmailId=@EmailId
					SET @retval=1
				END
			RETURN @retval
		END TRY
		BEGIN CATCH
			SET @retval=-99
			SELECT ERROR_MESSAGE(), ERROR_LINE()
			RETURN @retval
		END CATCH
	END

GO
/****** Object:  StoredProcedure [dbo].[usp_Login]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DECLARE @ReturnResult INT
--EXEC usp_RegisterCustomer 'xyz@gmail.com','Joey','Tribianni','FOOD@1234','M',8976450023,'1998-03-10','234 London'
--SELECT @ReturnResult as ReturnResult
--GO

CREATE PROCEDURE [dbo].[usp_Login]
(
@EmailId VARCHAR(30),
@Password VARCHAR(16)
)
AS BEGIN
	BEGIN TRY
		IF NOT EXISTS(select EmailId from Customer where EmailId=@EmailId)
			return -1
		ELSE IF NOT EXISTS(select EmailID from Customer where EmailId=@EmailId and UserPassword=@Password)
			return 0
		ELSE 
			return 1
	END TRY
	BEGIN CATCH
		SELECT ERROR_LINE(),ERROR_MESSAGE()
		return -99
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_LoginEmployee]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_LoginEmployee]
(
@EmailId VARCHAR(30),
@Password VARCHAR(16)
)
AS BEGIN
	BEGIN TRY
		IF NOT EXISTS(select EmailId from Employee where EmailId=@EmailId)
			return -1
		ELSE IF NOT EXISTS(select EmailID from Employee where EmailId=@EmailId and [Password]=@Password)
			return 0
		ELSE 
			return 1
	END TRY
	BEGIN CATCH
		SELECT ERROR_LINE(),ERROR_MESSAGE()
		return -99
	END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_RegisterCustomer]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[usp_RegisterCustomer]
(
@EmailId VARCHAR(30),
@FirstName VARCHAR(20),
@LastName VARCHAR(20),
@Password VARCHAR(16),
@Gender CHAR,
@Contact NUMERIC(10),
@DOB DATE,
@Address VARCHAR(50)
)
AS BEGIN
	DECLARE @RoleId CHAR(2),
		@retval INT
	BEGIN TRY
		IF(LEN(@EmailId)<4 OR LEN(@EmailId) IS NULL)
		SET @retval=-1
		ELSE IF(LEN(@Password)<8 OR LEN(@Password)>16 OR (@Password IS NULL))
		SET @retval=-2
		ELSE IF(@DOB>=CAST(GETDATE() AS DATE) OR (@DOB IS NULL))
		SET @retval=-3
		ELSE IF (DATEDIFF(day,@DOB,GETDATE())<6570)
		SET @retval=-4
		ELSE IF(@FirstName LIKE('%[^a-zA-Z]%') OR LEN(@FirstName)=0)
		SET @retval=-5
		ELSE IF(@LastName LIKE ('%[^a-zA-Z]%') OR LEN(@LastName)=0)
		SET @retval=-5
		ELSE
			BEGIN
				SELECT @RoleId=RoleId FROM dbo.Roles WHERE RoleName='Customer'
				INSERT INTO Customer VALUES
				(@EmailId,@RoleId,@FirstName,@LastName,@Password,@Gender,@Contact,@DOB,@Address)
				SET @retval=1
			END
		SELECT @retval
	END TRY
	BEGIN CATCH
		SET @retval=-99
		SELECT @retval, ERROR_LINE(),ERROR_MESSAGE()
	END CATCH
END 

GO
/****** Object:  StoredProcedure [dbo].[usp_ViewBookedPackages]    Script Date: 06-02-2026 11:31:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ViewBookedPackages]
(
@EmailId VARCHAR(50),
@BookingId INT OUT,
@NumberOfAdults INT OUT,
@NumberOfChildren INT OUT,
@DateOfTravel DATE OUT,
@TotalAmount BIGINT OUT,
@HotelName VARCHAR(50) OUT,
@NoOfRooms VARCHAR(50) OUT,
@PlacesToVisit VARCHAR(100) OUT,
@NoOfDays INT OUT,
@NoOfNights INT OUT,
@PackageName VARCHAR(50) OUT
)
AS
BEGIN
	BEGIN TRY
		SELECT
		@BookingId = BP.BookingId, @NumberOfAdults = BP.NumberOfAdults, @NumberOfChildren = BP.NumberOfChildren, @DateOfTravel = BP.DateOfTravel,
		@TotalAmount = P.TotalAmount,
		@HotelName = A.HotelName, @NoOfRooms = A.NoOfRooms,
		@PlacesToVisit = PD.PlacesToVisit, @NoOfDays = PD.NoOfDays, @NoOfNights = PD.NoOfNights,
		@PackageName = Pc.PackageName
		FROM BookPackage BP
		LEFT JOIN Payment P
		ON BP.BookingId=P.BookingId
		LEFT JOIN Accomodation A
		ON BP.BookingId=A.BookingId
		LEFT JOIN PackageDetails PD
		ON BP.PackageId=PD.PackageDetailsId
		LEFT JOIN Package Pc
		ON PD.PackageId=Pc.PackageId
		WHERE BP.EmailId=@EmailId
		Return 1;
	END TRY
	BEGIN CATCH
		RETURN -99
	END CATCH
END

GO
USE [master]
GO
